.App {
  text-align: center;
  background-image: url("./background-b-and-w.jpg");
  background-size: cover;
  background-position-y: 3em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 350px;
  padding: 20px;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2em;
  margin-bottom: 1em;
}

.App-intro {
  font-size: 2em;
  padding: 20px;
  color: rgb(253, 240, 55);
}

.footer {
  margin-top: 20px;
  padding: 1.5em 0 1.5em 0;
  background-color: rgb(24, 21, 21);
  color: white;
}
.score {
  color: rgb(161, 12, 112);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
